body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    width: 1000px;
    margin: 0 auto; 
    padding: 25px;
}

/* Header */

header {
    text-align: center;
    margin-top: 50px;
}

#logo {
    max-width: 300px;
    margin: 0 auto;
}

/* Typo */

h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    color: RGB(var(--c_darkgreen));
    text-align: center;
}

p, span, label, li, input {
    font-size: 1.1em!important;
}

footer ul li a {
    color: RGB(var(--c_darkgreen)); 
    text-decoration: none;
}

footer ul li a:hover {
    color: RGB(var(--c_green));
}

/* Buttons */

.ui-button {
    background-color: RGB(var(--c_green)) !important;
    color: white !important; 
    border: none !important;
    display: block !important;
    margin: 1em auto !important;
}

.ui-button:hover {
    background-color: RGB(var(--c_darkgreen)) !important;
    color: white !important;
    border: none !important; 
}

/* Tabelle & Input */

table th {
	background-color: RGB(var(--c_darkgreen)) !important;
	color: white!important;
}

input{
	width: 100%;
}

/* Footer */

.footericon {
    width: 1em;
    margin-right: 0.5em;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin-right: 1em; 
}


/*Responsive*/

@media screen and (max-width: 992px){
	
h1 {
    font-size: 3.5em;
}	

p, span, label,li, input {
    font-size: 2.5em !important;
}

.ui-messages-error-summary{
	font-size: 1.1em !important;
}

.ui-icon {
    margin-top: -1em !important;
}

.ui-button-text {
    padding: 0.5em 3em 0.5em 4em !important;
}

table {
	width: 90% !important;
	margin-left: 5% !important; 
	margin-right: 5% !important; 
}

table td:first-child {
	background-color: RGB(var(--c_green)) !important;
	font-weight: 700;
}

table td {
	display: block !important;  
	text-align:left !important;
}

table th {
	display: block !important;  
	text-align:left !important;
}

table th:last-child {
	margin-bottom: 1em !important;
}
	
table td:before, table th:before {
	content: attr(data-th) !important;
	display: block !important;
	text-align:left !important; 
}

}